{% include 'sitprot/cabecera.html' %}



    <div class="row"> <!-- Estos son los contenedores de las imagenes que van a incluir links -->
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://drive.google.com/drive/u/0/folders/1KgAAGYvDWwXTA6Bdbvlsdjqy1Zxvb94V" alt="Info">
                <div class="card-body">
                    <h4 class="card-title">Peso especifico</h4>
                    <p class="card-text">Contenido</p>
                    <a name="" id="" class="btn btn-primary" href="/ofrecemos" role="button">Entrar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/PythonBook/PythonGrow.png" alt="Info">
                <div class="card-body">
                    <h4 class="card-title">Informacion</h4>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/PythonBook/PythonGrow.png" alt="Info">
                <div class="card-body">
                    <h4 class="card-title">Informacion</h4>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/PythonBook/PythonGrow.png" alt="Info">
                <div class="card-body">
                    <h4 class="card-title">Informacion</h4>
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
     </div>
     <br>
     <br>

   
    
     






{% include 'sitprot/pie.html' %}
