{% include 'sitprot/cabecera.html' %}
 




    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Bienvenidos</h1>
          <p class="col-md-8 fs-4">Esta es una pagina interactiva en la cual podras obtener informacion de los temas vistos en Fisica. 
        </p>
          <button class="btn btn-primary btn-lg" src="/ofrecemos" type="button">¿Qué ofrcemos?</button>
        </div>
      </div>

{% include 'sitprot/pie.html' %}
